jupyter-book==0.15.1
datasets
langchain==0.0.203
chromadb
openai[embeddings]
sentence-transformers
accelerate
bitsandbytes
tiktoken
rich
networkx
python-dotenv
pre-commit
streamlit
fuzzywuzzy
python-Levenshtein
